---

---

<div class="karla">
  <div class="box">
    <p>
      Gennem disse møder fandt jeg ikke kun veninder, men også redskaber til at
      tackle livets svære øjeblikke og troen på sig selv.
    </p>

    <p>
      Uge efter uge voksede jeg og vores søsterskab, som de kærligt kaldte det.
      Vi støttede hinanden gennem tykt og tyndt, og jeg følte mig endelig hjemme
      i en verden, hvor jeg kunne være mig selv uden forbehold.
    </p>

    <p>
      Girltalk fællesskabet blev ikke bare et sted for mig, det blev en
      livsændrende oplevelse. Et sted, hvor jeg fandt ikke kun fællesskab, men
      også mig selv.
    </p>
  </div>
</div>

<style>
  .karla p {
    line-height: 1.5;
  }
  .karla {
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 100px;
    border-radius: 17px;
    padding-bottom: 100px;
    background-image: url(/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .box {
    background-color: #fff5eb;
    border-radius: 17px;
    padding: 20px;
  }
  @media (max-width: 800px) {
    .karla {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
</style>
