---

---

<div class="karla">
  <div class="box">
    <p>
      Gennem samtaler om alt fra præstationspres til veninder og sociale medier
      fandt jeg en ny styrke i mig selv. Jeg opdagede, at jeg ikke var alene i
      mine udfordringer, og at fællesskabet var en kraftfuld kilde til
      empowerment og vækst.
    </p>
  </div>

  <style>
    .karla p {
      line-height: 1.5;
    }
    .karla {
      padding-left: 400px;
      padding-right: 400px;
      padding-top: 100px;
      border-radius: 17px;
      padding-bottom: 100px;
      background-image: url(/background.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    }

    .box {
      background-color: #fff5eb;
      border-radius: 17px;
      padding: 20px;
    }
    @media (max-width: 800px) {
      .karla {
        padding-left: 80px;
        padding-right: 80px;
      }
    }
  </style>
</div>
