---

---

<div class="karla">
  <div class="box">
    <p>
      Mit navn er Karla og jeg bor i en lille kystby tæt på Strib på Fyn, altså
      dermed sagt bor jeg i et lille samfund. Jeg er 20 år og fyldt med drømme
      og udfordringer. Trods min travle hverdag føler jeg mig ofte ensom og
      fortabt.
    </p>

    <p>
      En dag faldt jeg over podcasten kaldet Girl Talk. Senere hen fandt jeg ud
      af det er en NGO. Et fællesskab for unge kvinder, der tilbyder et trygt
      frirum til samtaler, kreativitet og aktiviteter.
    </p>

    <p>
      Nysgerrig og håbefuld besluttede jeg mig for at tage skridtet og deltage i
      Girltalks møder, der blev afholdt i Odense.
    </p>
  </div>
</div>

<style>
  .karla p {
    line-height: 1.5;
  }
  .karla {
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 100px;
    border-radius: 17px;
    padding-bottom: 100px;
    background-image: url(/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .box {
    background-color: #fff5eb;
    border-radius: 17px;
    padding: 20px;
  }
  @media (max-width: 900px) {
    .karla {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
</style>
