---

---

<div class="karla">
  <div class="box">
    <p>
      Da jeg trådte ind i det rum, hvor Girltalk fællesskabet mødtes, blev jeg
      mødt af smilende ansigter og varme hjerter. Her sad unge kvinder af alle
      slags, der delte deres historier, drømme og bekymringer. I dette rum blev
      jeg hørt, forstået og støttet, som jeg aldrig havde følt før.
    </p>
  </div>
</div>

<style>
  .karla p {
    line-height: 1.5;
  }
  .karla {
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 100px;
    border-radius: 17px;
    padding-bottom: 100px;
    background-image: url(/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .box {
    background-color: #fff5eb;
    border-radius: 17px;
    padding: 20px;
  }
  @media (max-width: 900px) {
    .karla {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
</style>
