---
---


<div class="rounded-box">
    <h2>SISTERHOOD: ET STÆRKT FÆLLESSKAB</h2>
    <p>
      For dig, der er mellem 16 og 24 år og bor omkring Odense eller Aalborg.
    </p>
    <div class="inner-box">
      <div class="pigerne"><img src="/pigerne.svg" alt="to_piger"></div>
      <p>#EMPOWERMENT #FÆLLESSKAB #STØTTE #SELVUDVIKLING #SISTERHOOD</p>
    </div>
  </div>



  <style>



     .rounded-box {
    background-color: #fff5eb;
    border-radius: 40px;
    padding: 40px;
  }

  .inner-box {
    background-color: #fc4d5c;
    border-radius: 30px;
  }

  .inner-box p {
    color:#fff5eb;
    font-family: "archivo-narrow-variable", sans-serif;
    font-size: 1.5rem;
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: end;
  }

  .pigerne img {
    width: 70%;
  }

  @media (max-width: 900px) {
    .inner-box {
    padding: 10px;
 }


    .rounded-box {
  
    background-color: #fff5eb;
    border-radius: 40px;
    padding: 25px;
  }


      }
    
  


  </style>