---

---

<div class="grid_1">
  <div class="grid1_1">
    <div class="grid1_11">
      <p>
        Næsten hver femte unge kvinde mellem 16 og 25 år har et dårligt mentalt
        helbred.
      </p>
      <p>
        De unge kvinder oplever i langt højere grad end de unge mænd at være
        utilfredse med livet og have svært ved at klare dagligdagen.
      </p>
    </div>
    <div class="grid1_12">
      <img src="/redface.svg" alt="pil" />
    </div>
  </div>
  <div class="grid1_2">
    <div class="grid1_21">
      <h1>3</h1>
      <img src="/pige.svg" alt="pige" />
    </div>

    <div class="grid1_22">
      <p>25 % af de 16-24-årige kvinder føler sig stressede.</p>
      <p>
        62% af de 16-24 årige kvinder oplever, at sociale medier påvirker deres
        selvbilled
      </p>
    </div>
  </div>
</div>

<style>
  * {
    margin: 0;
    padding: 0;
  }
  img .grid_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
  }

  .grid1_11 {
    background-color: #d1ecef;
  }

  .grid1_12 {
    background-color: #fff5eb;
  }

  .grid1_21 {
    background-color: #fff5eb;
  }

  .grid1_22 {
    background-color: #d1ecef;
  }
</style>
