---

---

<section>
  <div class="grid_1">
    <div class="grid1_11">
      <h5>
        Næsten hver femte unge kvinde mellem 16 og 25 år har et dårligt mentalt
        helbred.
      </h5>

      <h5>
        De unge kvinder oplever i langt højere grad end de unge mænd at være
        utilfredse med livet og have svært ved at klare dagligdagen.
      </h5>
    </div>
    <div class="grid1_12">
      <img src="/redface.svg" alt="pil" />
    </div>

    <div class="grid1_21">
      <img src="/pige.svg" alt="pige" />
    </div>

    <div class="grid1_22">
      <h5>25 % af de 16-24-årige kvinder føler sig stressede.</h5>
      <h5>
        62% af de 16-24 årige kvinder oplever, at sociale medier påvirker deres
        selvbilled
      </h5>
    </div>
  </div>
</section>

<style>
  * {
    margin: 0;
    padding: 0;
  }
  section {
    display: grid;
  }
  section > img {
    grid-area: 1/1;
    align-self: start;
  }
  img {
    width: 30%;
    height: auto;
  }

  .grid_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px;
    grid-area: 1/1;
  }

  .grid1_11 {
    background-color: #d1ecef;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .grid1_12 {
    background-color: #fff5eb;
    align-content: center;
  }

  .grid1_21 {
    background-color: #fff5eb;
  }

  .grid1_22 {
    background-color: #d1ecef;
    /* background-color: red; */
    text-align: center;
    padding-top: 20px;
  }

  .grid_1 > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  h5 {
    color: #1d1d1b;
    font-size: 30px;
    font-family: "archivo-variable", sans-serif;
    font-family: "archivo-narrow-variable", sans-serif;
    font-variation-settings: "wght" 400;
  }
  @media (max-width: 800px) {
    h5 {
      color: #1d1d1b;
      font-size: 18px;
      font-family: "archivo-variable", sans-serif;
      font-variation-settings:
        "wdth" 100,
        "wght" 600;
      font-family: "archivo-narrow-variable", sans-serif;
      font-variation-settings: "wght" 400;
    }
  }
</style>
