---

---

<div class="grid_1">
  <div class="grid1_1">
    <div class="grid1_11">
      <h1>1</h1>
    </div>
    <div class="grid1_12">
      <h1>2</h1>
    </div>
  </div>
  <div class="grid1_2">
    <div class="grid1_21">
      <h1>3</h1>
    </div>

    <div class="grid1_22">
      <h1>4</h1>
    </div>
  </div>
</div>

<style>
  .grid_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid1_11 {
    background-color: #d1ecef;
  }

  .grid1_12 {
    background-color: #fff5eb;
  }

  .grid1_21 {
    background-color: #fff5eb;
  }

  .grid1_22 {
    background-color: #d1ecef;
  }
</style>
