---

---

<div class="box"></div>
<div class="overskrift">
  <h5 class="skewed-heading">GIRLTALK</h5>
</div>
<h6>En fortælling om Karlas møde med Girltalks Sisterhood-fællesskab.</h6>

<style>
  .box {
    margin: 7px;
    padding: 8px;
  }
  .overskrift {
  }

  h6 {
    text-align: center;
    transform: skewY(25deg);
    color: #1d1d1b;
    font-size: 1rem;
    font-family: "archivo-variable", sans-serif;
    font-variation-settings:
      "wdth" 100,
      "wght" 600;
    font-family: "archivo-narrow-variable", sans-serif;
    font-variation-settings: "wght" 400;
    margin-top: 15px;
  }

  .skewed-heading {
    background-color: #d1ecef;
    color: #273aaa;
    font-size: 5rem;
    font-family: "obviously", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 15px;
    color: #fc4d5c;
    margin: 0%;
    text-shadow: 5px 0px 0px #000000;
    text-align: center;
    transform: skewY(
      25deg
    ); /* Juster denne værdi for at ændre vinklen af den skrå overskrift */
  }
</style>
