---

---

<div class="container-box">
<div class="box">
  <div class="overskrift_sisterhood"><h5>ALLE HAR BRUG FOR ET SISTERHOOD</h5></div>

  <div class="video-container2">
  <div class="video-container">
    <video
      class="video"
      controls
      src="https://sophiaserve.dk/kea/09_indhold/Reel.mp4"></video>
  </div>
</div>
</div>
</div>


<style>
  .box {
    background-color: #fff5eb;
    box-shadow: -70px -50px 0px 6px #d1ecef;
    border-radius: 4%;
    width: 70%;
  }

  .overskrift_sisterhood h5 {
  font-size: 2rem;
  font-family: "obviously", sans-serif;
  font-weight: 700;
  padding: 70px;
  }

  .video-container {
    width: 40%;
  }

  .container-box {
    display: flex;
   justify-content: center;
  }

  .video-container2 {
   display: flex;
   justify-content: center;
  }


  .video {
    max-width: 100%; /* Sæt en maksimal bredde for at forhindre, at videoen bliver for bred på større skærme */
  
  }

  h5 {
    color: #f7c7d9;
    font-size: 2rem;
    font-family: "obviously", sans-serif;
    text-shadow: -4px -2px 0px #273aaa;
  }

  @media (max-width: 900px) {
    .video {
    max-width: 100%; /* Sæt en maksimal bredde for at forhindre, at videoen bliver for bred på større skærme */
    padding: 10px;
  }
  .video-container {
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
  }

  .container-box {
    display: flex;
   justify-content: center;
  }
  .overskrift_sisterhood h5 {
    font-size: 1rem;
  font-family: "obviously", sans-serif;
  font-weight: 700;
  padding: 30px;
  }


      }


</style>
