---

---

<div class="box">
  <h5>ALLE HAR BRUG FOR ET SISTERHOOD</h5>
  <div class="video-container">
    <video
      class="video"
      controls
      src="https://sophiaserve.dk/kea/09_indhold/Reel.mp4"></video>
  </div>
</div>

<style>
  .box {
    margin: 150px;
    padding: 30px;
    padding-bottom: 40px;
    background-color: #fff5eb;
    box-shadow: -93px -95px 0px 6px #d1ecef;
    border-radius: 4%;
  }

  .video {
    width: 40%; /* Ændr bredden efter behov */
    max-width: 800px; /* Sæt en maksimal bredde for at forhindre, at videoen bliver for bred på større skærme */
    height: auto; /* Lad højden justeres automatisk for at bevare videoens aspektforhold */
  }

  h5 {
    color: #f7c7d9;
    font-size: 2rem;
    font-family: "obviously", sans-serif;
    text-shadow: -4px -2px 0px #273aaa;
  }


</style>
