---

---


<section>
    
    <div class="talebobler">
        <img src="/talebobler.svg" alt="talebobler"/></div>

        
        
        
<div class="mørkeprikker">
 <img src="/talebobler_mørke.svg" alt="mørke_bobler"></div>

 <div class="lyseprikker">
<img src="/talebobler_lyse.svg" alt="lyse_bobler"></div>


</section>


<style>
    .talebobler {
        width: 80%;
        position: relative;
        display: grid;
        place-items: center;
    
    }


    .lyseprikker {
        width: 20%;
        position: absolute;
        z-index: 1;
    

    }

    .mørkeprikker {
        width: 20%;
        position: absolute;
        z-index: 1;
    }




</style>