---

---

<div class="grid_10">
  <div class="lys">
    <img src="/lysbob1.svg" alt="" />
  </div>
  <div class="mørk">
    <img src="/mørkbob1.svg" alt="" />
  </div>
</div>

<style>
  .grid_10 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .lys {
    animation: bounce 1s infinite alternate ease-in-out;
  }

  .mørk {
    animation: bounce 1s infinite alternate ease-in-out;
    animation-delay: 0.9s; /* Tilføj en forsinkelse på 0.5 sekunder */
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-30px);
    }
  }
</style>
