---

---

<div class="container">
  <div class="container2">
    <div class="broder_box">
      <div class="border_box2">
        <h2>ALLE HAR BRUG <br />FOR SISTERHOOD</h2>
      </div>
    </div>
  </div>
</div>

<style>
  .container {
    position: relative;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding: 50px;
    margin-right: 25%;
  }
  .broder_box {
    background-color: #d1ecef;
    padding: 50px;
    border-radius: 10%;
    padding-bottom: 80%;
  }

  h2 {
    margin-top: 20px;
    font-size: 2.3rem;
    color: #273aaa;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(223, 49, 182, 0.5);
  }
</style>
