---
import MainLayout from "../layout/MainLayout.astro";
import "../style/style.css";
import Grid from "../komponenter/Grid.astro";

import Fod from "../komponenter/Fod.astro";
import TaleBobler from "../komponenter/TaleBobler.astro";
import Overskift from "../komponenter/Overskift.astro";
import Sound from "../komponenter/Sound.astro";
import Grid2 from "../komponenter/Grid2.astro";
import Baggrund from "../komponenter/Baggrund.astro";
import Baggrund1 from "../komponenter/Baggrund1.astro";
import Baggrund2 from "../komponenter/Baggrund2.astro";
import Baggrund3 from "../komponenter/Baggrund3.astro";
import Stol from "../komponenter/Stol.astro";
import Phone from "../komponenter/Phone.astro";
import Boks from "../komponenter/Boks.astro";
---

<MainLayout />


  <div class="container">
    <div class="hearts">
      <img src="/hearts.png" alt="hearts" />
    </div>
  </div>
  <Overskift />

  <div class="hearts">
    <img src="/hearts.png" alt="hearts" />
  </div>
<Boks/>







<div class="karlas_historie">
  <div class="karlashistorie_overskrift"><h2>KARLAS HISTORIE</h2></div>
  <Sound />
  <div class="water">
    <img src="/water.svg" alt="hearts" />
  </div>
  <Baggrund1 />
  <img src="" alt="" />
  <Baggrund2 />

  <Stol />

  <Baggrund3 />
</div>

<TaleBobler />
<Grid />
<Baggrund />
<Phone />

<div class="karlashistorie_overskrift"><h2>HVAD SIGER ANDRE PIGER?</h2></div>
<Grid2 />
<Fod />



<style>
  .water {
    display: flex;
    justify-content: center;
  }
  .water img {
    width: 50%;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .container {
    display: flex;
    justify-content: flex-end;
  }

  .hearts {
    width: 20%;
    padding-top: 100px;
    padding-right: 200px;
    overflow: hidden;
    animation: pulse 1.3s infinite alternate;
    opacity: 0.8;
  }

  .karlashistorie_overskrift h2 {
    text-align: center;
    font-family: "obviously", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 0.9;
    }
    100% {
      transform: scale(1.1);
      opacity: 6;
    }
  }

</style>
