---
import MainLayout from "../layout/MainLayout.astro";
import "../style/style.css";
import Grid from "../komponenter/Grid.astro";
//import Video from "../komponenter/Video.astro";
---

<MainLayout />
<article>
  <div class="hearts">
    <img src="/public/imgs/hearts.png" alt="hearts">
  </div>

<h1>GIRLTALK</h1>
<p>En fortælling om Karlas møde med Girltalks Sisterhood-fællesskab.</p>

<div class="hearts">
  <img src="/public/imgs/hearts.png" alt="hearts">
</div>


  <div class="sisterhood">
    <h1>SISTERHOOD: ET STÆRKT FÆLLESSKAB</h1>
    <p>For dig, der er mellem 16 og 24 år og bor omkring Odense eller Aalborg.</p>
  </div>
</article>
<article>
  <div class="karlas_historie">
    <h2>KARLAS HISTORIE</h2>
    <img src="" alt="" />


  

		<div class="rounded-box">
			<h2>SISTERHOOD: ET STÆRKT FÆLLESSKAB</h2>
			<p>For dig, der er mellem 16 og 24 år og bor omkring Odense eller Aalborg.</p>
			<div class="inner-box">
				<p>#EMPOWERMENT #FÆLLESSKAB #STØTTE #SELVUDVIKLING #SISTERHOOD </p>
			</div>
		</div>


    <p>Mit navn er Karla og jeg bor i en lille kystby tæt på Strib på Fyn, altså dermed sagt bor jeg i et lille samfund. Jeg er 20 år og fyldt med drømme og udfordringer. Trods min travle hverdag føler jeg mig ofte ensom og fortabt. En dag faldt jeg over podcasten kaldet Girl Talk. Senere hen fandt jeg ud af det er en NGO. Et fællesskab for unge kvinder, der tilbyder et trygt frirum til samtaler, kreativitet og aktiviteter. Nysgerrig og håbefuld besluttede jeg mig for at tage skridtet og deltage i Girltalks møder, der blev afholdt i Odense.</p>
    <img src="" alt="" />
    <p>Da jeg trådte ind i det rum, hvor Girltalk fællesskabet mødtes, blev jeg mødt af smilende ansigter og varme hjerter. Her sad unge kvinder af alle slags, der delte deres historier, drømme og bekymringer. I dette rum blev jeg hørt, forstået og støttet, som jeg aldrig havde følt før.</p>
    <img src="" alt="" />
    <p>Gennem samtaler om alt fra præstationspres til veninder og sociale medier fandt jeg en ny styrke i mig selv. Jeg opdagede, at jeg ikke var alene i mine udfordringer, og at fællesskabet var en kraftfuld kilde til empowerment og vækst.</p>
  </div>

  <div class="facts_grid">
    <div>
      <p>Næsten hver femte unge kvinde mellem 16 og 25 år har et dårligt mentalt helbred. De unge kvinder oplever i langt højere grad end de unge mænd at være utilfredse med livet og have svært ved at klare dagligdagen.</p>
    </div>
    <div>
      <img src="" alt="" />
    </div>
    <div>
      <p>25 % af de 16-24-årige kvinder føler sig stressede. 62% af de 16-24 årige kvinder oplever, at sociale medier påvirker deres selvbillede.</p>
    </div>
    <div>
      <img src="" alt="" />
    </div>
  </div>
  <div class="karlas_historie"></div>
  <h2>Fortsættelse på Karlas historie</h2>
  <p>Gennem disse møder fandt jeg ikke kun veninder, men også redskaber til at tackle livets svære øjeblikke og troen på sig selv. Uge efter uge voksede jeg og vores søsterskab, som de kærligt kaldte det. Vi støttede hinanden gennem tykt og tyndt, og jeg følte mig endelig hjemme i en verden, hvor jeg kunne være mig selv uden forbehold. Girltalk fællesskabet blev ikke bare et sted for mig, det blev en livsændrende oplevelse. Et sted, hvor jeg fandt ikke kun fællesskab, men også mig selv.</p>

  <div class="SoMe">
    <h1>ALLE HAR BRUG FOR SISTERHOOD</h1>
  </div>

  <div class="facts_grid">
    <h1>HVAD SIGER ANDRE PIGER?</h1>
    <div>
      <p>“Jeg oplevede at blive lyttet til. Jeg er enebarn, og mine forældre har travlt med deres arbejde - så det er ofte, at jeg ikke har nogen at spare med, når jeg er hjemme. Derfor betyder dette fællesskab mega meget for mig!” - Signe, 16 år</p>
    </div>
    <div></div>
    <div>
      <p>“Jeg kan 100% anbefale at deltage til disse møder. Jeg gik igennem et hårdt breakup, og mine veninder var/er alle i et forhold, så følte ikke jeg kan tale med dem om det. Men pigerne fra GirlTalk er vildt søde og det er virkelig et sisterhood man får!” - Gabriella, 20 år</p>
    </div>
    <div></div>
  </div>
</article>
<Grid />
<!-- <Video /> -->

<footer></footer>

<style>

.hearts {
		width: 20%;
		position: relative;
  		overflow: hidden;
		animation: pulse 1.3s infinite alternate; 
  		opacity: 0.8;
	}

	@keyframes pulse {
  0% {
    transform: scale(1); 
    opacity: 0.9; 
  }
  100% {
    transform: scale(1.1); 
    opacity: 6; 
  }
}
  .rounded-box {
  width: 900px; 
  height: 560px; 
  background-color: #FFF5EB;
  border-radius: 40px;
  position: relative;
}


.inner-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
  height: 110px;
  background-color: #FC4D5C;
  border-radius: 30px;
}
</style>
