---
import "../style/style.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div class="hearts">
			<img src="/public/imgs/hearts.png" alt="hearts">
		</div>
		<div class="hearts">
			<img src="/public/imgs/hearts.png" alt="hearts">
		</div>
		<div class="rounded-box">
			<h2>SISTERHOOD: ET STÆRKT FÆLLESSKAB</h2>
			<p>For dig, der er mellem 16 og 24 år og bor omkring Odense eller Aalborg.</p>
			<div class="inner-box">
				<p>#EMPOWERMENT #FÆLLESSKAB #STØTTE #SELVUDVIKLING #SISTERHOOD</p>
			</div>
		</div>
		
	</body>
</html>

<style>
	.hearts {
		width: 20%;
		position: relative;
  		overflow: hidden;
		animation: pulse 1.3s infinite alternate; 
  		opacity: 0.8;
	}

	@keyframes pulse {
  0% {
    transform: scale(1); 
    opacity: 0.9; 
  }
  100% {
    transform: scale(1.1); 
    opacity: 6; 
  }
}

.rounded-box {
  width: 900px; 
  height: 560px; 
  background-color: #FFF5EB;
  border-radius: 40px;
  position: relative;
}


.inner-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
  height: 110px;
  background-color: #FC4D5C;
  border-radius: 30px;
}


</style>
