---
import "../style/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>webfeature</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://use.typekit.net/ivz3wkc.css" />
    <link rel="stylesheet" href="https://use.typekit.net/ivz3wkc.css" />
    <link rel="stylesheet" href="https://use.typekit.net/ivz3wkc.css" />
  </head>
  <body>
    <main></main>
  </body>
</html>
